/* Body */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: square;
}

a {
    text-decoration: none;
}

#grid-container {
    background-color: #c9ada7;
    display: grid;
    height: 200vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1.5fr 1.2fr 0.8fr;
    grid-column-gap: 0.1rem;
    grid-row-gap: 0.1rem;
    padding: 50px;
    grid-template-areas: "header header header header" "sidebar maincontent maincontent maincontent" "sidebar content1 content2 content3" "sidebar footer footer footer";
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}


/* Header */

header {
    background-color: #343a40;
    grid-area: header;
    display: grid;
    grid-template-rows: 5px;
    font-family: 'Montserrat', sans-serif;
}

.Text h1 {
    grid-area: header;
    text-align: center;
    color: #c9ada7;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
}

.Text h3 {
    grid-area: header;
    text-align: center;
    color: #c9ada7;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
}


/* Image */

.rounded {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #343a40;
    display: inline-block;
    vertical-align: middle;
}

.image {
    padding-left: 2em;
    border-top: 5px;
}


/* sidebar */

#sidebar {
    grid-area: sidebar;
    background-color: #343a40;
    color: #c9ada7;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    text-align: center;
}

.contact p {
    grid-area: sidebar;
    border-radius: 25px;
    border: 2px solid #c9ada7;
    padding: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.contactinfo p {
    text-align: center;
    grid-area: sidebar;
    color: #c9ada7;
}

.education p {
    grid-area: sidebar;
    border-radius: 25px;
    border: 2px solid #c9ada7;
    padding: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.educationinfo p {
    text-align: center;
    grid-area: sidebar;
    color: #c9ada7;
}

#maincontent {
    grid-area: maincontent;
}

#content1 {
    grid-area: content1;
}

#content2 {
    grid-area: content2;
}

#content3 {
    grid-area: content3;
}

.sidecontent {
    font-size: 30px;
    text-align: center;
    background-color: #343a40;
}

.content-item {
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


/*Footer*/

footer {
    background-color: #3c3;
    grid-area: footer;
}


/*Responsive*/

@media only screen and (max-width: 550px) {
    #grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 5fr 5fr 5fr 5fr 8fr 8fr 1fr;
        grid-template-areas: "header" "sidebar" "content1" "content2" "content3" "footer";
    }
}