/* Body */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: square;
}

a {
    text-decoration: none;
    color: black;
}

#grid-container {
    background-color: #c9ada7;
    display: grid;
    height: 200vh;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 0fr 0.8fr 0.1fr;
    grid-column-gap: 0.1rem;
    grid-row-gap: 0.1rem;
    padding: 50px;
    grid-template-areas: "header header header header" "sidebar maincontent maincontent maincontent" "sidebar footer footer footer";
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}


/* Header */

header {
    background-color: #343a40;
    grid-area: header;
    display: grid;
    grid-template-rows: 5px;
    font-family: 'Montserrat', sans-serif;
}

.Text h1 {
    grid-area: header;
    text-align: center;
    color: #c9ada7;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
}

.Text h3 {
    grid-area: header;
    text-align: center;
    color: #c9ada7;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
}


/* Image */

.rounded {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #343a40;
    display: inline-block;
    vertical-align: middle;
}

.image {
    padding-left: 2em;
    border-top: 5px;
}


/* sidebar */

#sidebar {
    grid-area: sidebar;
    background-color: #343a40;
    color: #c9ada7;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}

.contact p {
    grid-area: sidebar;
    border-radius: 25px;
    border: 2px solid #c9ada7;
    padding: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.contactinfo p {
    text-align: center;
    grid-area: sidebar;
    color: #c9ada7;
}

.education p {
    grid-area: sidebar;
    border-radius: 25px;
    border: 2px solid #c9ada7;
    padding: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.educationinfo p {
    text-align: center;
    grid-area: sidebar;
    color: #c9ada7;
}

.lang p {
    grid-area: sidebar;
    border-radius: 25px;
    border: 2px solid #c9ada7;
    padding: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.langinfo p {
    text-align: left;
    grid-area: sidebar;
    color: #c9ada7;
}


/*Main content*/

#maincontent {
    grid-area: maincontent;
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    text-align: left;
}

.profile p {
    grid-area: sidebar;
    border-radius: 25px;
    border: 2px solid #343a40;
    padding: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.profileinfo p {
    grid-area: sidebar;
    color: #c9ada7;
}

.experience p {
    grid-area: sidebar;
    border-radius: 25px;
    border: 2px solid #343a40;
    padding: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.experienceinfo p {
    text-align: center;
    grid-area: sidebar;
    color: #343a40;
}

.skill p {
    grid-area: sidebar;
    border-radius: 25px;
    border: 2px solid #343a40;
    padding: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.skillinfo p {
    text-align: left;
    grid-area: sidebar;
    color: #343a40;
}

.interest p {
    grid-area: sidebar;
    border-radius: 25px;
    border: 2px solid #343a40;
    padding: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.interestinfo p {
    text-align: left;
    grid-area: sidebar;
    color: #343a40;
}


/*Footer*/

footer {
    background-color: white;
    grid-area: footer;
    color: black;
}

.footerinfo a {
    text-align: left;
    grid-area: footer;
    color: black;
}


/*Responsive*/

@media only screen and (max-width: 550px) {
    #grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 5fr 5fr 5fr;
        grid-template-areas: "header" "maincontent" "sidebar" "footer";
    }
}